@using DALTWeb.Models;
@model GioHangViewModel


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">GIỎ HÀNG</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white">Giỏ hàng</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Đặc sản</th>
                        <th scope="col">Tên gọi</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Xoá</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.DsGioHang)
                    {
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="@item.SanPham.ImageUrl" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">@item.SanPham.Name</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.SanPham.Price $</p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a asp-action="Giam" asp-route-giohangid="@item.Id" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    
                                    <input type="text" class="form-control form-control-sm text-center border-0" value="@item.Quantity" min="1" step="1">
                                    
                                    <div class="input-group-btn">
                                        <a asp-action="Tang" asp-route-giohangid="@item.Id" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.ProductPrice $</p>
                            </td>
                            <td>
                                <a asp-action="Xoa" asp-route-giohangid="@item.Id" class="btn btn-md rounded-circle bg-light border mt-4">
                                    <i class="fa fa-times text-danger"></i>
                                </a>
                            </td>

                        </tr>
                    }
                   
                    
                </tbody>
            </table>
        </div>

        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Giỏ hàng <span class="fw-normal">tổng</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Tổng tiền:</h5>
                            <p class="mb-0">@Model.HoaDon.Total $</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Vận chuyển</h5>
                            <div class="">
                                <p class="mb-0">FREE SHIP</p>
                            </div>
                        </div>
                        <p class="mb-0 text-end">Chuyển đến SaiGon.</p>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Thành Tiền</h5>
                        <p class="mb-0 pe-4">@Model.HoaDon.Total $</p>
                    </div>
                    <a asp-action="ThanhToan" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4">Tiến hành Thanh Toán</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cart Page End -->
